.footer__column-link {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  display: flex;
  align-items: center;
  font-weight: normal;
  transition: opacity 250ms;
}

.footer__column-link:hover {
  opacity: 0.5;
}
